@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

body {
  font-family: 'Lobster', sans-serif;
  background-color: #161A30;
  color: white;
}

#seleccionar-personaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #F0ECE5;
  font-size: 70px;
}

.subtitulo {
  color: #F0ECE5;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;

}

.tarjetas,
.tarjetas-ataques {
  display: flex;
  gap: 10px;
  font-size: 40px;
}

.tarjeta-de-Aventuras {
  width: 300px;
  height: 170px;
  background: #B6BBC4;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #31304D;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.tarjeta-de-Aventuras img {
  width: 150px;
}

#boton-personaje {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

input {
  display: none;
}

input:checked+label {
  background-color: #5D8BF4;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background: #31304D;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#mensajes {
  color: #161A30;
  background: #B6BBC4;
  width: 470px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 20px;
  flex-direction: column;
}

#boton-reiniciar {
  background: #161A30;
  color: #B6BBC4;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  margin: 5px;
}

.ataques {
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: end;
  justify-items: center;
  font-size: 25px;
  background-color: #31304D;
  border-radius: 20px;

}

#vidas-jugador,
#vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador,
.ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ver-mapa{
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

#ver-mapa button{
  width:80px;
  height:40px;
  border-radius:20px;
  background:0 0;
  border:2px solid #fff;
  color:#fff;
  font-family: 'Lobster', sans-serif;
  margin:10px 0
}

@media (max-width: 360px) {

  .tarjetas,
  .tarjetas-ataques {
    flex-direction: column;
  }
}
@media(max-width:300px){
  #ver-mapa div{
    display:flex;align-items:center;flex-direction:column
  }
}